.image{
    height: 500px;
    width: 500px;
    margin-left: 600px;
    margin-top: 100px;
    position: fixed;
}
.eye1{
    width: 18px;
    height: 42px;
    background-color: white;
    margin-left: 870px;
    margin-top: 238px;
    border-radius: 70px 70px 70px 70px;
    position: fixed;
}
.eye2{
    width: 18px;
    height: 42px;
    background-color: white;
    margin-left: 895px;
    margin-top: 235px;
    border-radius: 70px 70px 70px 70px;
    position: fixed;
}
.ball{
    width: 10px;
    height: 10px;
    background-color: black;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 150px 150px 150px 150px;
    position: absolute;
}